@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1120px;
}
.light-orange {
  background: #feeae9;
  padding: 40px 60px;
  border-radius: 10px;
  margin-top: 40px;
}
.carousel-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-item h1 {
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}
.carousel-item p {
  color: #707070;
  font-size: 16px;
  font-weight: 300;
  max-width: 80%;
}
.carousel-item img {
  max-width: 90%;
}
.price {
  color: #ff136f;
  margin-top: 30px;
}
.btn {
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 8px 20px;
}
.btn-slider-color {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
}
.btn-color {
  background: #000;
}
.btn-color:hover {
  color: #f8f8f8;
}
.categories {
  padding: 50px 0;
}
.cat {
  margin: 10px 0;
}
.cat1,
.cat2,
.cat3 {
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cat1 img,
.cat2 img,
.cat3 img {
  width: 40%;
}
.cat1 {
  background-image: linear-gradient(to right, #ff9c35 0%, #ffd019 100%);
}
.cat2 {
  background-image: linear-gradient(to left, #ff589b 0%, #ff136f 100%);
}
.cat3 {
  background-image: linear-gradient(to left, #4289ff 0%, #3f07f8 100%);
}
.heading-title {
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
}
.shoppin-card {
  padding: 50px 0;
  background: #f8f8f8;
}
.shoppin-card .card-info {
  padding: 20px;
  margin: 12px 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 10px 10px 10px #f1f1f1;
}
.card-header {
  background: transparent;
  border-bottom: none;
}
.card-body {
  text-align: center;
}
.card-body h3 {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.card-body p {
  color: #707070;
  font-size: 15px;
  margin-bottom: 20px;
}
.card-body .price-value {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.shoppin-card .ecommerce-card .card-info img {
  width: 100%;
}
